<% include ../partials/header %>

<div class="ui text container">
  <div class="blog-show-header-wrapper">
  <div class="ui huge header"><%= blog.title %></div>
  <% let parseTags = JSON.parse(blog.tags);
  <!-- test there are tags to display -->
  if(parseTags[0].id) { %>
      <div> 
       <% parseTags.forEach((tag) => { %>
          <div style="background-color: <%= tag.color %>;" 
          class="ui mini label tag-item" data-tag-id="<%= tag.tag_id %>"> 
          <%= tag.name %>
        </div>
        <% }) %>
</div>
 <% } %>
</div>
  <div class="ui top attached segment">
    <div class="item">
        <img class="ui centered rounded image"src="<%= blog.image %>">
        <div class="content">
        <span><%= blog.created.toDateString() %> </span>
      </div>
      <div class="description"> 
        <!-- <p></p><%- blog.body %> </p> -->
        <%- blog.content %>
      </div>
      <% if(user && (blog.user_id === user.user_id || 
        user.username === "matthew")) { %>
      <form id="delete" action="/blogs/<%= blog.blog_id %>?_method=DELETE" method="POST">
        <button class="ui red basic button">Delete</button>
      </form>
      <a href="/blogs/<%= blog.blog_id %>/edit" class="ui orange basic button">Edit</a>
      <% } %>
    </div>
    </div>
</div>
<% include ../partials/footer %>